dynaconf==3.2.6
easyocr==1.7.2
gradio==5.3.0
jax==0.4.35
langchain==0.3.4
langchain_anthropic==0.2.3
langchain_community==0.3.3
langchain_core==0.3.13
langchain_openai==0.2.3
matplotlib==3.9.2
numpy==2.1.2
openai==1.52.2
Pillow
python-dotenv==1.0.1
Requests==2.32.3
selenium==4.25.0
supervision==0.24.0
torch==2.5.0
torchvision==0.20.0
transformers==4.46.0
ultralytics==8.3.23
